body
	margin 0
	font-family: Helvetica Neue;

html
body
.cover-image
	height 100%

.cover-image
	background-image: url('background.jpg')
	background-position center center
	background-size cover
	display flex

.content
	margin auto
	text-align center
	.hour
		color white
		font-size 80px
	.input
		color white
		background transparent
		border none
		border-bottom solid 1px white
		width 100%
		outline none
		font-size 20px
	// .text
	// 	color white

.text-container
	color white
	display flex
	align-items: center;
	justify-content: center;
	.close
		margin-left 10px
		font-size 10px


.task-list
	position: absolute;
	right: 0;
	background black
	color white
	font-size 10px
	text-align left
	padding 5px

	input
		background transparent
		outline none
		color white
		border none
		border-bottom solid 1px white



